<form method="get" action="/profile/summonner">
	<input type="text" name="summonner_name" placeholder="Enter a summonner name">
	<input type="submit" name="Search">
</form>
<div id="champion_container" class="container">
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
			<div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive center-block" src="">-</div>
		</div>
</div>
  