<% if (currentUser) { %>
<% var curUser = currentUser.local.email %>
<% } %>


<div class="panel panel-default">
	<div class="panel-body container">
		<form method="get" action="/profile/summonner">		
			
			<div class="form-group col-sm-6">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default">Go</button>
				    </span>
				    <input class="form-control" type="text" name="list-item" placeholder="Search by name">
				</div>
		    </div>
				

			<div class="form-group col-sm-6">
				<div class="input-group">
				<span class="label label-default">label</span> 
				<input type="checkbox" name="Search">
				</div>
			</div>

		</form>
	</div>
</div>




<section id="champion_container" class="container">
		<div class="container-fluid">
			<div class="row">

				<div class=" col-xs-12 col-md-10 col-md-offset-1">
					<% if (currentUser) { %>
						<h5 id="current_User"> <%= curUser %> </h5>
					<% }else{ %>
						<h5>Champions</h5>
					<% } %>	
				</div>
			</div>

			<!--Where Champs Go-->
			<div id='champions'>
			</div>
			<!--Where Champs Stop -->
		</div>
</section>

<!-- begin champModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="champModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Champion Name</h4>
      </div>

      <div class="modal-body">

			<form method="post" action="/login" class="form-horizontal">
              <div class="container">  <!------------------------------FORM-CONTENT-CONTAINER-->
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-1 text-center">
                        <h1>Login</h1>
                      </div>
                    </div>								<!-- END ROW1-->
				    <div class="row">
					
					<!-- CHAMPION PROFILE IMAGE-->
						<div class="form-group">
				        	<div class="col-xs-2">
				        		<div class="champ_profile_img">
				        			<img class="img img-responsive" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg">
				        		</div> 
				        	</div>
                    <!-- CHAMPION INPUTS -->
							<div class="col-xs-6">
								<div class="input-group">

      								<input type="text" class="form-control" value="Champion">
      								<span class="input-group-btn">
    									<button id="addChamp" class="btn btn-default" type="button">
    										<span class="glyphicon glyphicon-plus-sign">
    											<!-- glyphicon-minus-sign  (remove favorite) -->
    										</span>
    									</button></span>
    							</div><!-- /input-group -->
									







									<!-- <label class="sr-only" for="champion_name" >Champion Name</label>
										<span><label class="" for="champion_name" >Champion Name</label>

											<input class="form-control" type="text" name="champion_name" id="champion_name" value="champion name">
										</span>
	                        		<label class="sr-only" for="currentUser">Current User</label>
	                        		<input class="form-control" type="text" name="currentUser" id="currentUser">
								</div> -->
							</div>
						</div>

                    </div>								<!-- END ROW2-->

				    <div class="row">
	                    <div class="form-group">
 
	                    </div>
                    </div>								<!-- END ROW3-->
                </div> 
              </div> <!------------------------------       			FORM-CONTENT-CONTAINER -->
			</form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="addChamp">Add to favorites</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  









