<form method="get" action="/profile/summonner">
	<input type="text" name="summonner_name" placeholder="Enter a summonner name">
	<input type="submit" name="Search">
	<ul id="testId">
		
	</ul>
</form>
  