
<% include ./partials/head-without-nav.ejs %>



<div id="landingContainer" class="container-fluid">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div id="landingContent" class="col-xs-12 col-md-8 col-md-offset-2 container">
    
    <div class="row container-fluid">
      <div class="league-container"></div>
    </div>

    <div class="row container-fluid">
      <div class="summnr-container"></div>
    </div>

    <div class="landing-button-container container col-xs-12">
      <a href="/login"><button class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 btn-md btn btn-default">Login</button></a>
      <a href="/signup"><button class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2  btn-md btn btn-default">Register</button></a>
    </div>

    </div> 
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <script src="/scripts/app.js">  
  </script>
</body>
</html>
