
<% include ./partials/head-without-nav.ejs %>


  <div class="jumbotron">
    <div class="text-center container-fluid">
      <div class="row">
        <h1 class="col-xs-10 col-xs-offset-1">Working Title</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          


          <div class="btn-group">
            
              <button id="landing_login_btn" type="button" class="btn btn-lg btn-default" name="login">login</button>          
            
              
              <button id="landing_signup_btn" type="button" class="btn btn-lg btn-default" name="signup">signup</button>       
              
          </div>  
        </div>
      </div>
    </div>
  </div>
  
  
  <% include ./partials/footer %> 
