<% include ./partials/head %>

<body>

  <% include ./partials/navbar %>

  <div class="container"> 
    <% include ./partials/champion_search %> 
  </div>

  <hr>
  <% include ./partials/footer %>
  <% include ./partials/scripts %>

</body>
</html>