<% include ./partials/head %>
	
<div class="container-fluid">
<% if(currentUser) { %>
	<h1 class="page-title text-center"><%= currentUser.summoner.name  %></h1>
<% } %>


// <div class="container list-group-item"><!------MAIN BODY LAYERING STARTS HERE---- -->



	<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
		<div class="accordion-wrapper">
			<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					<div class="row">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Favorite Champs</a>
							<div  class="text-right">

								<% if(currentUser) { %>
									<a href= "../champions"> 
										<button id='add-champ-button' class= "btn btn-alert btn-xs">Logged in Add Champions</button>
									</a>
								<% } %>

							</div>
						</h4>
					</div>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
								<ul id="favorite_list" class='list-group'>

									<li class='champion favorite-list-item list-group-item'>
										<div class='row'>
								
											<% if(currentUser) { %>
											<% var favoriteArray = [] %>
												<% var userFavs = currentUser.favorites %>
													<% for(var i = 0; i < userFavs.length; i++) { %> 														
														<li class="favorite-list-item"> <%= userFavs[i] %> </li>
														<%= console.log(userFavs[i]) %>
													<% } %>
												<%	} %>
																								


											<div class="col-xs-3 text-left">
												<div class="container col-xs-8">
													<div class='favorite-image-wrapper'>
														<button class="remove-favorite btn btn-defaul btn-sm"><span alt='Remove Favorite' class="glyphicon glyphicon-trash"></span></button>
													</div>
												</div>
											</div>
											<div class= "col-xs-2 col-xs-offset-1  text-center">
												

											</div>
											<div class="col-xs-2 text-center">

											</div>
										</div>
									</li>
									
							

								<!--ADD CHAMPIONS TO LIST HERE -->
								
								</ul>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
<% if(currentUser) { %>
	<h5 id="current_User"> <%= currentUser._id %> </h5>
<% } %>


    <% include ./partials/footer %>