* {
}

body {
	background: #162024;
}
div.landing {
	position: absolute;
	width: 50%;
	height: 100%;
}
div.landing#landingOne {
	left: 0%;
	background: url('/images/woodDoorLeft.jpg');
	background-size: cover;
	background-repeat: no-repeat; 

}
div.landing#landingTwo {
	right: 0%;
	background: url('/images/woodDoorRight.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
}


#nav{
	background: ;
}


footer {
	background: #AE975A;
	padding-top: 35px;
}


